<md-card>
   <md-card-title-group>
      <img md-card-md-image src="assets/Health.jpg">
      <md-card-title>System Health</md-card-title>
      <md-card-subtitle>View internal systems health reports</md-card-subtitle>
   </md-card-title-group>
</md-card>

<p></p>
<clr-datagrid>
    <clr-dg-column>Time (UTC)</clr-dg-column>
    <clr-dg-column>System</clr-dg-column>
    <clr-dg-column>Severity</clr-dg-column>
    <clr-dg-column>Message</clr-dg-column>

    <clr-dg-row>
        <clr-dg-cell></clr-dg-cell>
        <clr-dg-cell></clr-dg-cell>
        <clr-dg-cell></clr-dg-cell>
        <clr-dg-cell></clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
    </clr-dg-footer>

</clr-datagrid>

