<div class="main-container">

    <header class="header header-2">
        <div class="branding">
            <span class="title">Angular Design</span>
        </div>
        <div class="header-nav">
            <a class="nav-link" [routerLink]="['/dashboard']">
                <span class="nav-text"><clr-icon shape="home"></clr-icon></span></a>
            <a class="nav-link" [routerLink]="['/alerts']">
              <span class="nav-text">Alerts</span></a>
            <a class="nav-link" [routerLink]="['/health']">
              <span class="nav-text">System Health</span></a>
        </div>
        <div class="header-nav header-actions settings">

        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>




