<md-card>
  <md-card-title>Material Design Card</md-card-title>
  <md-card-subtitle>The card subtitle</md-card-subtitle>
  <md-card-content>
    <p>Some supporting text.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary">Alerts</button>
    <button md-raised-button color="accent">Status</button>
  </md-card-actions>
</md-card>

<p></p>

<md-card>
   <md-card-title-group>
      <img md-card-md-image src="assets/Alert.jpg">
      <md-card-title>Header title</md-card-title>
      <md-card-subtitle>Subtitle</md-card-subtitle>
   </md-card-title-group>
</md-card>
