<md-card>
  <md-card-title-group>
      <img md-card-md-image src="assets/Materialdesign.png">
      <md-card-title>Material Design</md-card-title>
      <md-card-subtitle>Using material design with angular-clarity</md-card-subtitle>
   </md-card-title-group>

  <md-card-content>
    <p>This application uses material design with angular-clarity.</p>
    <p>Material design generates web interface components by drawing them graphically.
    Angular-clarity contains a subset of Project Clarity controls, including a very good datagrid.  This project uses both methods to create a sample user interface.</p>
  </md-card-content>
</md-card>

<p></p>
